/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.container1 {
    margin:0;
    /* background: rgb(240, 230, 230); */
    /* padding: 10px; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    text-align: center;
    width:500px;
}
.container {
    /* background-image: url('./img/theme/soil.png');
    background-size: cover;
    background-repeat: no-repeat; */
    margin:0;
    background: rgb(0, 61, 131);
    /* padding: 10px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width:500px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    height:50px;
    box-sizing: border-box;
}

#placeBet {
    background: #007bff;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#placeBet:hover {
    background: #01501f;
}
label{
    height: 10vh;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    margin: 10px 0;
    
}

#number1 {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: gold;
 
}

#number1.selected {
    background-color: #000000;
    color: white;
}
#number1:hover {
    background-color: #b30000;
    color:white;
}
#number2 {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff00c8;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

#number2.selected {
    background-color: #011a35;
    color: white;
}
#number2:hover {
    background-color: #b30000;
    color:white;
}
#number3 {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff7b00;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

#number3.selected {
    background-color: #011a35;
    color: white;
}
#number3:hover {
    background-color: #b30000;
    color:white;
}
#number4 {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0059ff;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

#number4.selected {
    background-color: #011a35;
    color: white;
}
#number4:hover {
    background-color: #b30000;
    color:white;
}
#number5 {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1e7404;
    font-size: 30px;
    font-weight:600;
    color: rgb(0, 0, 0);
}

#number5.selected {
    background-color: #011a35;
    color: white;
}
#number5:hover {
    background-color: #b30000;
    color:white;
}
#number6 {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff000d;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

#number6.selected {
    background-color: #011a35;
    color: white;
}
#number6:hover {
    color:white;
    background-color: #b30000;
}


p {
    margin: 10px 0;
}

.dice-container {
    margin: 20px 0;
}

#dice {
    width: 100px;
    height: 100px;
    transition: transform 1s;
}

@keyframes roll {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

.roll {
    animation: roll 1s;
}
