body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./img/theme/bg2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
}

.cube {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 3s;
    margin-bottom: 20px;
}

.face {
    position: absolute;
    width: 30vmin;
    height: 30vmin;
    background-color: white;
    border: 1px solid #ccc;
}

.face img {
    width: 100%;
    height: 100%;
}

.front { transform: rotateY(0deg) translateZ(15vmin); }
.back { transform: rotateY(180deg) translateZ(15vmin); }
.right { transform: rotateY(90deg) translateZ(15vmin); }
.left { transform: rotateY(-90deg) translateZ(15vmin); }
.top { transform: rotateX(90deg) translateZ(15vmin); }
.bottom { transform: rotateX(-90deg) translateZ(15vmin); }

.content {
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.button-group .number-btn {
    flex: 1;
    min-width: 50px;
    max-width: 100px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.error {
    color: red;
}

.notification {
    margin-top: 20px;
    color: green;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; /* Adjust the max-width as needed */
    width: 100%;
}

.column, .column1 {
    flex: 1;
    padding: 10px;
    text-align: center;
}

/* Default styling for smaller screens */
img {
    max-width: 100%;
    height: auto;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-group button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
}

/* Media Queries for responsiveness */
@media (min-width: 360px) and (max-width: 479px) {
    .container, .container1 {
        padding: 10px;
    }
    .centered{
        padding: 10px;
    }
}

@media (min-width: 480px) and (max-width: 719px) {
    .button-group button {
        font-size: 1.2rem;
    }
}

@media (min-width: 720px) and (max-width: 1079px) {
    .button-group button {
        font-size: 1.4rem;
    }
}

@media (min-width: 1080px) and (max-width: 1199px) {
    .button-group button {
        font-size: 1.6rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .button-group button {
        font-size: 1.8rem;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {
    .button-group button {
        font-size: 2rem;
    }
}

@media (min-width: 1600px) and (max-width: 1799px) {
    .button-group button {
        font-size: 2.2rem;
    }
}

@media (min-width: 1800px) and (max-width: 1999px) {
    .button-group button {
        font-size: 2.4rem;
    }
}

@media (min-width: 2000px) and (max-width: 2199px) {
    .button-group button {
        font-size: 2.6rem;
    }
}

@media (min-width: 2200px) and (max-width: 2399px) {
    .button-group button {
        font-size: 2.8rem;
    }
}

@media (min-width: 2400px) and (max-width: 2599px) {
    .button-group button {
        font-size: 3rem;
    }
}

@media (min-width: 2600px) {
    .button-group button {
        font-size: 3.2rem;
    }
}
